/*-- header --*/

.header__title {
    padding: 40px 0 0 25px;
}

.paragraph__title,
.paragraph__subtitle {
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.paragraph__title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.paragraph__subtitle {
    font-size: 16px;
}


/*-- content post --*/

.content__section {
    width: 100%;
}

.content__section-top {
    max-width: 510px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content__post {
    margin-left: 25px;
    padding: 20px 0;
}


/*-- content post left --*/

.post__name {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #222;
    overflow: hidden;
    padding-left: 25px;
}

.post__name:hover {
    text-decoration: none;
    color: rgba(40, 191, 191, 1);
}


/*-- content post right --*/

.post__count {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.post__delete {
    display: flex;
    width: 70px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.post__count-length {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(1, 197, 255, 1);
    color: #fff;
}

.remove__post {
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.remove__post-icon {
    font-size: 55px;
    color: rgba(255, 0, 0, 1);
}


/*-- content post for create posts button*/

.add__posts {
    height: 293px;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}


/*-- create posts button config --*/

.add_posts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 197, 255, 1);
    padding: 18px 15px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.add_posts-button:hover {
    background: rgba(40, 191, 191, 1);
}

.post__icon-config {
    font-size: 35px;
    color: #fff;
}